

Plugins>fairSIM>OMX, "read OMX OTF", de.bio_photonics.omxtools.OTF_Reader("")
Plugins>fairSIM>OMX, "read Elite OTF", de.bio_photonics.omxtools.OTF_Reader_deconvolution("")
Plugins>fairSIM>OMX, "split stack", de.bio_photonics.omxtools.OMX_Splitter("")
Plugins>fairSIM>Zeiss, "split stack (Zeiss)", de.bio_photonics.omxtools.Zeiss_Splitter("")

